[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nautilus-webui = {editable = true, extras = ["dev"], path = "."}

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn src.backend.entrypoint:app --reload"
tests = "invoke test"
format = "invoke format-code"
"format:check" = "invoke check-format"
